[submodule "third_party/FreeRTOS-Kernel"]
	path = third_party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "third_party/pico-sdk"]
	path = third_party/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "third_party/lvgl-v8.3"]
	path = third_party/lvgl-v8.3
	url = https://github.com/lvgl/lvgl.git
	branch = release/v8.3
